<div class="row">
  <div class="col-md-12 mt-5">
    <img src="../../../assets/logo.svg" class="img-fluid logo" alt="Logo" />
    <span class="movies-span mt-5">movies</span>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-xl-6 col-md-12 col-md-12 mt-5 text-right">
      It's time to create your profile <br />
      and customize your experience <br />
      in <b>LinkApi Movies</b>!
    </div>
    <div class="col-md-6 mt-5">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="John Wick"
        autocomplete="off"
        [(ngModel)]="inputName"
        [value]="inputName"
        #name
      />
      <label for="age">Age</label>
      <input
        type="text"
        class="form-control"
        placeholder="24"
        autocomplete="off"
        [(ngModel)]="inputAge"
        [value]="inputAge"
        #age
      />
      <label for="favoriteMovie">Favorite movie</label>
      <input
        type="text"
        class="form-control"
        placeholder="Sharknado 2"
        autocomplete="off"
        [(ngModel)]="favoriteMovie"
        #movie
      />
      <label for="favoriteGenre">Favorite genre</label>
      <select
        [(ngModel)]="favoriteGenre"
        name="genre-select"
        class="custom-select"
        #genre
      >
        <option value="Horror" selected>Horror</option>
        <option value="Comedy">Comedy</option>
        <option value="Suspense">Suspense</option>
      </select>
    </div>
  </div>
</div>
<div class="bottom-buttons mt-5">
  <div class="row justify-content-end">
    <div class="col-md-3">
      <button
        class="btn btn-primary btn-cancel"
        type="submit"
        (click)="clearFields()"
      >
        Cancel
      </button>
      <button
        routerLink="/movies"
        class="btn btn-primary btn-save"
        type="submit"
        (click)="saveProfile(name.value, age.value, movie.value, genre.value)"
        [value]="inputName"
      >
        Save profile
      </button>
    </div>
  </div>
</div>
